@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Nunito:wght@200;300;400;600;700&display=swap');

h1, h2, h3, h4 {
  font-family: 'Staatliches';
  color: #474747;
}

h5 {
  font-family: 'Nunito';
  font-weight: 500;
  color: #474747;
}

p {
  font-family: 'Nunito';
  font-weight: 500;
  color: #474747;
}
