@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Nunito:wght@200;300;400;600;700&display=swap');

h1, h2, h3, h4 {
  font-family: 'Staatliches';
  color: #474747;
}

h5 {
  font-family: 'Nunito';
  font-weight: 500;
  color: #474747;
}

p {
  font-family: 'Nunito';
  font-weight: 500;
  color: #474747;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: #603F8D;
}

.ant-steps-item-process .ant-steps-item-icon {
  border-color: #603F8D;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #603F8D;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #603F8D;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #603F8D;
}

.ant-btn-primary {
  background: #603F8D;
  border-color: #603F8D;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  background: #603F8D;
  border-color: #603F8D;
  color: white !important;
}

.ant-btn:hover, .ant-btn:focus {
  color: #603F8D;
  border-color: #603F8D; 
}

.ant-input-number:hover, .ant-input-number:focus, .ant-input-number-focused {
  border-color: #603F8D; 
}

.ant-picker-focused, .ant-picker:hover, .ant-picker:focus {
  border-color: #603F8D;
}

.ant-input-focused, .ant-input:hover, .ant-input:focus {
  border-color: #603F8D;
}